body{
    background-color:rgb(128, 59, 59) !important;
}

.wrapper-1{
    width: 30%;
    justify-content: center;
    align-items: center;
    margin-left: 33%;
    margin-top: 0%;    
}
.subjects{
    width: 40%;
}

.wrapper-2{
    width: 30%;
    align-items: center;
    justify-content: center;
    margin-left: 33%;
    margin-right: 13%;
    margin-bottom: 2%;
    border: solid 2px;
    height: fit-content;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:white;
    padding-bottom: 20px;
    min-height: 200px;
    
}
.wrapper-2 h4{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.reset{
   margin-left: 33% ;
   padding-top: 20px;
   padding: 10px;
}
